<link rel='stylesheet' href="/css/autocomplete.css">

<div id="bookDescSelect">
    <div class="overlay-center">
        <div class="flex">
            <h3 class="flexy">Search Book Description</h3>
        </div>
        <input type="text" placeholder="Start Typing..." id="bdautotext">
        <div class="autocomplete-items" id="bdautocomplete">

        </div>
    </div>
</div>
<script>
    let bdtextupdated = false;
    (async function () {
        // let sel = document.querySelector("#shelfID");
        // let response = await fetch("/api/shelf/getAll");
        // response = await response.json();

        // for (var i = 0; i < response.length; i++) {
        //     sel.innerHTML += "<option value='" + response[i]._id + "'>" + response[i].name + "</option>";
        // }
        document.querySelector("#bdautotext").addEventListener("input", function (e) {
            bdtextupdated = true;
        })
    })();

    async function updateAutoOptions() {
        if (!bdtextupdated) return;
        bdtextupdated = false;
        let bdautotext = document.querySelector("#bdautotext");
        console.log("request");
        let bdautoresp = await fetch("/api/bookdescription/search?q=" + bdautotext.value);
        bdautoresp = await bdautoresp.json();
        console.log(bdautoresp);
        document.querySelector("#bdautocomplete").innerHTML = "";
        bdautoresp.forEach(element => {
            element = element.item;
            document.querySelector("#bdautocomplete").innerHTML += "<div class='bdoption' onclick='changeBookDesc(this, \""+element.title+"\", \"" + element._id + "\")'><b>" + element.title + "</b> <br> Author: <em> " + element.author + "</em><br> Published by: <em>" + element.publisher +"</em></div>";
        });
    }
    setInterval(updateAutoOptions, 1000);
    function changeBookDesc(elem, title, id){
        document.querySelectorAll(".bdoption.selected").forEach(element => {
            element.classList.toggle("selected");
        })
        elem.classList.toggle("selected");
        document.querySelector("#bookdescname").value = title ;
        document.querySelector("#bookdesc").value = id;
        toggleOverlay("#bookDescSelect");
    }
    document.querySelector("form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const data = new FormData(e.target);
        const formJSON = Object.fromEntries(data.entries());
        console.log(formJSON);
        const response = await fetch("/api/book/add/a?render=true", {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify(formJSON)
        });
        console.log(response);
        if (response.redirected) window.location.href = response.url;
        document.querySelector("#response-viewer").innerHTML = await response.text();
    });
    function toggleOverlay(selector) {
        document.querySelector(selector).classList.toggle("show");
    }
    function fillbookDescriptionAutoComplete() {

    }
</script>